@charset "UTF-8";

*{

    padding: 0;
    margin: 0;

}

body::-webkit-scrollbar {

    width: 0px;
    height: 0px;

}

img{
    height: 100%;

    width: 100vw;

    display: block;

    background-color: black;
    background-image: url('../imagens/tela-youtube.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}

p{

    margin: 0;
    padding: 15px;

    background-color: darkred;
    color: white;

    text-align: center;

    font-size: 20px;

    width: 90%;

}

p:hover{

    background-color: red;

}

a{

    text-decoration: none;

}