@charset "UTF-8";

*{

    padding: 0;
    margin: 0;

}

body { 
    
    overflow-y: scroll;
    scrollbar-width: none;

}

body::-webkit-scrollbar {

    display: none;

}

img{
    height: 100%;
    min-height: 87vh;

    width: 350%;

    margin-right: -50px;

    display: block;

    background-color: black;
    background-image: url('../imagens/tela-youtube.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

p{

    margin: 0;
    padding: 15px;

    background-color: darkred;
    color: white;

    text-align: center;

    font-size: 10vw;

    width: 337%;

}

p:hover{

    background-color: red;

}

a{

    text-decoration: none;

}